@media (max-width: 768px) {
 
  .main-content .project-list {
    grid-template-columns: 1fr;
  } 
  .main-content h2  {
    font-size: 1.8em;
    padding: 0 10px;
  }
  .main-content p  {
    font-size: 1em;
    padding: 0 10px;
  }
  .main-content .form {
    padding: 0 10px;
  }
  .main-content .project-list {
    padding: 0 10px;
  }
}