body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f4f6;
}

.header {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0% 0 20px 20px;
}

.nav-menu .menu-list {
  display: flex;
  gap: 15px;
}

.nav-menu .menu-list li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: all 0.3s ease;
} 

.nav-menu .menu-list li a:hover {
  color: #2563eb;
}

.main-content {
  padding: 20px;
}

.main-content .conteudo {
  display: flex;
  align-items: center; 
  gap: 1.5rem; 
  margin-bottom: 30px;
  max-width: 1000px;   
  margin: 0 auto;    
  padding: 1rem;
  margin-bottom: 30px; 
}
.main-content .avatar {
  width: 200px;
  height: 200px;
  background-color: #ddd; 
  border-radius: 50%; 
  border: 4px solid #2563eb;
  flex-shrink: 0; 
}

.main-content section {
  margin-bottom: 70px;
}

.main-content h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  border-bottom: #2563eb 3px solid;
  padding-bottom: 10px;
  color: #1f2937;
}

.main-content p {
  line-height: 1.6;
  margin-bottom: 30px;
  padding: 0 20px;
  color: #1f2937;
} 

.main-content h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #1f2937;
}

.main-content .timeline {
  border-left: 3px solid #333;
  padding-left: 20px;
  margin-bottom: 30px;
}

.main-content li{
  margin-bottom: 15px;
}



.main-content .cards-container {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.main-content .card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main-content .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-content .card img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
}

.main-content .card .descricao-projeto {
  font-size: 1em;
  margin-bottom: 20px;
  color: #1f2937;
}

.main-content .card .links-projeto {
  display: flex;
  justify-content: space-between;
}

.main-content .card .links-projeto a {
  text-decoration: none;
  color: #2563eb;
  font-weight: 500;
}


.main-content .form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;
}

.main-content .form input,
.main-content .form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2em;
}

.form button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #2563eb;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;  
}

footer {
  background-color: #f4f4f4;
  text-align: center;
  padding: 25px;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

