body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0% 0 20px 20px;
}

.nav-menu .menu-list {
  display: flex;
  gap: 15px;
}

.nav-menu .menu-list li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
} 

.main-content {
  padding: 20px;
  max-width: 800px;
}

.main-content section {
  margin-bottom: 70px;
}

.main-content h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.main-content p {
  line-height: 1.6;
  margin-bottom: 30px;
  padding: 0 20px;
} 

.main-content h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.main-content .timeline {
  border-left: 3px solid #333;
  padding-left: 20px;
  margin-bottom: 30px;
}

.main-content li{
  margin-bottom: 15px;
}

.main-content .project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0 20px;
}

.main-content .project-list .project-item {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background-color: #fafafa;
}

.main-content .form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;
}

.main-content .form input,
.main-content .form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2em;
}

.form button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;  
}

footer {
  background-color: #f4f4f4;
  text-align: center;
  padding: 25px;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

