body {
  font-family: var(--font-primaria);
  margin: 0 auto;
  background-color: var(--cor-primaria);
}

.dark-theme {
  background-color: var(--cor-texto);
}

.dark-theme p,
.dark-theme h2,
.dark-theme h3 {
  color: var(--cor-texto-dark) !important;
}

.dark-theme strong {
  color: var(--cor-secundaria) !important;
}

.dark-theme .card h3{
  color: var(--cor-titulo) !important;
}

.dark-theme .descricao-projeto {
  color: var(--cor-texto) !important;
}

.dark-theme footer p{
  color: var(--cor-texto) !important;
}

.header {
  background-color: var(--cor-bg-header-footer);
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0% 0 20px 20px;
}

.header .btn-header {
  cursor: pointer;
  border: none;
  color: var(--cor-texto);
}

.header .btn-header img {
  width: 40px;
  height: 40px;
}

.nav-menu .menu-list {
  display: flex;
  gap: 15px;
}

.nav-menu .menu-list li a {
  text-decoration: none;
  color: var(--cor-texto);
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-menu .menu-list li a:hover {
  color: var(--cor-secundaria);
}

.main-content {
  padding: 20px;
}

.main-content .conteudo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 30px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 30px;
}

.main-content .avatar {
  width: 200px;
  height: 200px;
  background-color: #ddd;
  border-radius: 50%;
  border: 4px solid var(--cor-secundaria);
  flex-shrink: 0;
}

.main-content section {
  margin-bottom: 70px;
}

.main-content h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  border-bottom: var(--cor-secundaria) 3px solid;
  padding-bottom: 10px;
  color: var(--cor-titulo);
}

.main-content p {
  line-height: 1.6;
  margin-bottom: 30px;
  padding: 0 20px;
  color: var(--cor-texto);
}

.main-content h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: var(--cor-titulo);
}

.main-content .timeline {
  border-left: 3px solid #333;
  padding-left: 20px;
  margin-bottom: 30px;
}

.main-content li {
  margin-bottom: 15px;
}

.main-content .cards-container {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.main-content .card {
  background-color: var(--cor-bg-primaria);
  border: 1px solid var(--cor-border);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main-content .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-content .card img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
}

.main-content .card .descricao-projeto {
  font-size: 1em;
  margin-bottom: 20px;
  color: var(--cor-texto);
}

.main-content .card .links-projeto {
  display: flex;
  justify-content: space-between;
}

.main-content .card .links-projeto a {
  text-decoration: none;
  color: var(--cor-secundaria);
  font-weight: 500;
}

.main-content .form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;
}

.main-content .form input,
.main-content .form textarea {
  padding: 10px;
  border: 1px solid var(--cor-border);
  border-radius: 4px;
  font-size: 1.2em;
}

.form button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: var(--cor-secundaria);
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.3s ease;
}

.form button:hover {
  background-color: #1e40af;
}

footer {
  background-color: var(--cor-bg-header-footer);
  text-align: center;
  padding: 25px;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
