:root {
    --cor-primaria: #f3f4f6;
    --cor-secundaria: #2563eb;
    --cor-texto: #1f2937;
    --cor-texto-dark: #e5e7eb;
    --cor-titulo: #333;
    --cor-bg-header-footer: #f4f4f4;
    --cor-bg-primaria: #fff;
    --cor-border: #ddd;
    --font-primaria: 'Roboto', sans-serif;
}